<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siri.springboot.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.siri.springboot.bean.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="card_number" jdbcType="CHAR" property="cardNumber" />
    <result column="birthday" jdbcType="CHAR" property="birthday" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, card_number, birthday
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.siri.springboot.bean.User" useGeneratedKeys="true">
    insert into user (`name`, card_number, birthday
      )
    values (#{name,jdbcType=VARCHAR}, #{cardNumber,jdbcType=CHAR}, #{birthday,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.siri.springboot.bean.User" useGeneratedKeys="true">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="cardNumber != null">
        card_number,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null">
        #{cardNumber,jdbcType=CHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.siri.springboot.bean.User">
    update user
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null">
        card_number = #{cardNumber,jdbcType=CHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.siri.springboot.bean.User">
    update user
    set `name` = #{name,jdbcType=VARCHAR},
      card_number = #{cardNumber,jdbcType=CHAR},
      birthday = #{birthday,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>